body{
    background-color: rgba(18, 17, 18, 0.899);
    color: antiquewhite;
    border: 23px solid rgba(117, 158, 127, 0.093);
    margin-bottom: 0% ;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 0%;
    border-top: 23px solid rgba(114, 205, 114, 0.341);
}
.heading {
    text-align: center;
}
.heading1 {
    text-align: center;
}
.data{
    text-align: center;
}
#submit{
    background-color: orange;
}
.Thanku{
    text-align: center;
}